div {
    border: 1px solid gray;
}

.container {
    width: 90%;
    height: 500px;
    overflow-y: auto;
}

.area {
    position: relative;
    height: 400px;
    width: 10000px
}

.item {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 9999px;

}

.dude {
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 40%;
}

.time {
    position: absolute;
    top: 400px;
}